{% extends 'base.html' %}
{% block title %}
all doctors
{% endblock %}

{% block body %}

<style>
   

    .card-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 420px;
        margin: 20px;
        text-align: center;
        font-family: arial;
        max-height: 6000px;
        border-radius: 5%;
        border-style: groove;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

    button:hover,
    a:hover {
        opacity: 0.7;
    }

    
</style>

<body2>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        <div class="message {% if message.tags == 'success' %} success{% elif message.tags == 'info' %} info{% elif message.tags == 'warning' %} warning{% elif message.tags == 'error' %} error{% endif %}" role="alert">
            <div class="message-content">
                <p>{{ message }}</p>
            </div>
            <button class="close-button" onclick="this.parentElement.style.display='none'">&#x2716;</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="card-container">
        {% if doctors %}
        {% for doctor in doctors %}
        
        <div class="card">
            <h2 style="text-align:center">{{ doctor.title }} {{ doctor.firstname }} {{ doctor.lastname }}</h2>
            <p class="title">{{ doctor.degree }}</p>
            <h3>Summary: {{ doctor.summary }}</h3>
            <div style="margin: 24px 0;">

            </div>
            <div>
                <p><a href="{% url 'doctor_detail_view' doctor_id=doctor.id %}"><button>View Details</button></a></p>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <p>No doctors available.</p>
        {% endif %}
    </div>

    <p><a href="{% url 'home_view' %}">Back to Home</a></p>
</body2>
{% endblock %}