{% extends 'base.html' %}
{% block title %}
update profile  
{% endblock %}

{% block body %}

<style>
      .container {
        margin-left: 25%; 
        margin-top: 20px; 
        margin-bottom: 20px; 
        background-color: #5784e58f;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 50%; 
        }

        h1 {
        text-align: center;
        margin-bottom: 20px;
        }

        label {
            display: block;
            margin-top: 8px;
            text-align: left;

        }
        
        textarea{
                width: 100%;
                height: 70px;
                padding: 10px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                border-radius: 4px;
                margin-bottom: 16px;

        }
        
        input, select {
            width: 100%;
            padding: 10px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            background-color: #4caf50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        p {
        margin-bottom: 15px;
        }
</style>


<div class="container">
   
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            <div class="message {% if message.tags == 'success' %} success{% elif message.tags == 'info' %} info{% elif message.tags == 'warning' %} warning{% elif message.tags == 'error' %} error{% endif %}" role="alert">
                <div class="message-content">
                    <p>{{ message }}</p>
                </div>
                <button class="close-button" onclick="this.parentElement.style.display='none'">&#x2716;</button>
            </div>
        {% endfor %}
    </div>
{% endif %}


  
    <form action="{% url 'update_profile_view' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}

        <label for="title">Title:</label>
        <br>
        <select id="title" name="title" required>
          <option value=""{% if request.session.gender == "" %} selected {% endif %}>select a role...</option>
          <option value="Dr." {% if request.session.title == 'Dr.' %}selected{% endif %}>Dr.</option>
          <option value="Mr." {% if request.session.title == 'Mr.' %}selected{% endif %}>Mr.</option>
          <option value="Mrs." {% if request.session.title == 'Mrs.' %}selected{% endif %}>Mrs.</option>
          <option value="Ms." {% if request.session.title == 'Ms.' %}selected{% endif %}>Ms.</option>
        </select>
        
        <label for="firstname">First Name:</label>
        <br>
        <input type="text" id="firstname" name="firstname" required placeholder="Jhon" value="{{ request.session.firstname }}">
        <br>
        <label for="lastname">Last Name:</label>
        <br>
        <input type="text" id="lastname" name="lastname" required placeholder="smith" value="{{ request.session.lastname }}">
        <br>
        <label for="gender">Gender:</label>
        <br>
        <select id="gender" name="gender" required>
        <option value=""{% if request.session.gender == "" %} selected {% endif %}>select a Gender...</option>
        <option value="Male"{% if request.session.gender == "Male" %} selected {% endif %}>Male</option>
        <option value="Female" {% if request.session.gender == "Female" %} selected {% endif %}>Female</option>
        <option value="Others"{% if request.session.gender == "Others" %} selected {% endif %}>Others</option>
        </select>


        {% if request.session.role == "Doctor" %}
        <br>
        <label for="degree">Degree:</label>
        <br>
        <input type="degree" id="degree" name="degree" required placeholder="MBBS / MD / Pharm D / DDS etc." value="{{ request.session.degree }}">
        {% endif %}

        
        <br>
        <!-- <label for="email">Email:</label>
        <br> -->
        <!-- <input type="email" id="email" name="email" required placeholder="example@xyz.com">
        <br> -->
        <label for="contact">Contact:</label>
        <br>
        <input type="text" id="contact" name="contact" required placeholder="9878XXXX45" value="{{ request.session.contact }}">
        <br>
        <label for="address">Address:</label>
        <br>
        <textarea name="address"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="address" placeholder="Type your address here...">{{ request.session.address }}</textarea>
        

        {% if request.session.role == "Doctor" %}

        <label for="summary">Summary:</label>
        <br>
        <textarea name="summary"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="summary" placeholder="Type your summary here...">{{ request.session.summary }}</textarea>
       
        {% endif %}

       

        {% if request.session.role == "Patient" %}
<!-- 
        <label for="summary">Summary:</label> -->
        <br>
        <textarea name="summary"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="summary" hidden placeholder="Type your summary here...">{{ request.session.summary }}</textarea>
       
        {% endif %}

       
       
        <br>
        <button type="submit">SAVE</button>
    </form>

</div>
{% endblock %}